body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    font-size: 180%;
    margin: 10px;
    margin-bottom: 8px;
}
#question{
    display: flex;
    font-size: 150%;
    justify-content: center;  
    margin-top: 10px;
    margin-bottom: 15px;
}

.word{
    display: flex;
    justify-content: center; 
}

#letters-remained{
    display: flex;
    font-size: 110%;
    justify-content: center;  
    margin-top: 10px;
    margin-bottom: 10px; 
}

#guess-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  font-size: 100%;
  text-align: center;
  background: black;
  color: white;
}

#word-input{
    justify-content: center; 
    width: 180px;
    height: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
}

#letter-input{
    justify-content: center; 
    width: 180px;
    height: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
}

.word-letter{
    display: flex;
    margin-top: 4vh;
    font-size: 250%;
    justify-content: center;
    background-color: black;
    color: black;
    border: 2px solid black;
    width: 4.5vw;
    height: 4.5vw;
    margin-top: 10px;
    margin-right: 5px;
}

#result-message{
  font-size: 150%;
  display: block;
  text-align: center;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

#play-again{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;
  font-size: 100%;
  text-align: center;
  background: black;
  color: white;
}
