.board board-row:nth-child(odd) {
    display: flex;
    flex-direction: row;
    
}
.board-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.cell-white{
    background-color: white;
    width: 5vw;
    height: 5vw;
    border: solid 1px rgb(16, 25, 41);
    font-size: 60px;
    text-align: center;
}
.cell-black{
    background-color: rgb(46, 38, 38);
    width: 5vw;
    height: 5vw;
    border: solid 1px rgb(16, 25, 41);
    font-size: 60px;
    text-align: center;
}
body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 115px;

    
}
